# Ignore SQLite database files
*.sqlite
*.sqlite3
*.db
*.pyc
apps/__pycache__
demo/__pycache__
blog/__pycache__
sekawansystema/__pycache__
apps/migrations
demo/migrations
blog/migrations
sekawansystema/settings.py
