# Ignore SQLite database files
sekawansystema/settings.py
*.sqlite
*.sqlite3
*.db
*.pyc
apps/__pycache__
demo/__pycache__
blog/__pycache__
sekawansystema/__pycache__
example_code/*
apps/migrations
demo/migrations
blog/migrations
penv
launch.sh
push.sh
staticfiles
configuration.json