{% extends "_root.html" %}
{% load static %}


{% block body %}

    <div class="page ">
      {% include '_nav.html' %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    SEKAWAN SYSTEMA GROUP
                </div>
                <h2 class="page-title">
                  Project Plan
                </h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
                <div class="datagrid">
                    <div class="datagrid-item">
                      <div class="datagrid-title">Registrar Domain</div>
                      <div class="datagrid-content">Domainesia</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">IP Address</div>
                      <div class="datagrid-content">103.161.185.213</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">Webserver Port</div>
                      <div class="datagrid-content">8007</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">Expiration Time</div>
                      <div class="datagrid-content">April 2024–</div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title">Service</div>
                      <div class="datagrid-content">
                        <span class="status status-green">
                          Active
                        </span>
                      </div>
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">Power</div>
                        <a class="btn btn-danger">Shutdown</a>
                      </div>
                  </div>
                  <div class="datagrid-item">
                    <div class="datagrid-title">Descriptions</div>
                    <div class="datagrid-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </div>
                  </div>
                  
            </div>
          </div>
        </div>
        
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="https://tabler.io/docs" target="_blank" class="link-secondary" rel="noopener">Laporkan</a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="." class="link-secondary">Tabler</a>.
                    All rights reserved.
                  </li>
                  <li class="list-inline-item">
                    <a href="./changelog.html" class="link-secondary" rel="noopener">
                      v1.0.0
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

{% endblock body %}