{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Terms of service - Systema Sekawan Group</title> 
    <!-- CSS files -->
    <link href="{% static 'systemacss/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'systemacss/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'systemacss/demo.min.css' %}" rel="stylesheet"/>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body  class=" d-flex flex-column">
    <script src="{% static 'systemajs/demo-theme.min.js' %}"></script>
    <div class="page page-center">
      <div class="container container-narrow py-4">
          <div class="card card-md">
            <div class="card-body">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark"><img src="{% static 'systemaassets/logo.webp' %}" height="36" alt=""></a>
              </div>
            <h3 class="card-title">Terms of service</h3>
            <div class="markdown">
              <p>We (the folks at Tabler) run a website hosting platform called <a href="https://systema.id/">Systema</a></p>
              <p>The following terms and conditions govern all use of the tabler.io website and all content, services, and products available at or through the website. Our Services are offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, <a href="https://tabler.io/privacy-policy.html">Tabler’s Privacy Policy</a> and procedures that may be published from time to time by Tabler (collectively, the “Agreement”). You agree that we may automatically upgrade our Services, and these terms will apply to any upgrades.</p>
              <p>Please read this Agreement carefully before accessing or using our Services. By accessing or using any part of our services, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access or use any of our services. If these terms and conditions are considered an offer by Tabler, acceptance is expressly limited to these terms.</p>
              <p>Our Services are not directed to users younger than 16, and access and use of our Services is only offered to users 16 years of age or older. If you are under 16 years old, please do not register to use our Services. Any person who registers as a user or provides their personal information to our Services represents that they are 16 years of age or older. Use of our Services requires a tabler.io account. You agree to provide us with complete and accurate information when you register for an account. You will be solely responsible and liable for any activity that occurs under your username. You are responsible for keeping your password secure.</p>
              <hr />
              <h3 id="1-tablerio">1. Subjek</h3>
              <ul>
                <li>
                  <p><strong>Pihak Penyedia (pertama)</strong></p><p>Pihak penyedia adalah Penyedia layanan atau Systema.</p>
                </li>
                <li>
                  <p><strong>Pihak Pengguna (kedua)</strong><p>Pihak pengguna adalah Pengguna/Client/User yang menggunakan layanan atau produk yang disediakan oleh Sytema.</p></p>
                </li>
                <li>
                  <p><strong>Pihak Ketiga (ketiga)</strong><p>Pihak ketiga adalah Orang Perorangan/Instansi/Lembaga/Badan yang dilibatkan kedalam proyek sesuai dengan ketentuan.</p></p>
                </li>
              </ul>
              <h3 id="2-responsibility-of-visitors">2. Layanan dan Produk</h3>
              <ul>
                <li>
                  <p><strong>Software Development</strong>Pihak penyedia adalah Penyedia layanan atau Systema.</p>
                </li>
                <li>
                  <p><strong>Business Solution</strong>Pihak pengguna adalah Pengguna/Client/User yang menggunakan layanan atau produk yang disediakan oleh Sytema.</p>
                </li>
                <li>
                  <p><strong>IT Architecture</strong>Pihak ketiga adalah Orang Perorangan/Instansi/Lembaga/Badan yang dilibatkan kedalam proyek sesuai dengan ketentuan.</p>
                </li>
              </ul>
              <h3 id="3-content-posted-on-other-websites">3. Kewajiban</h3>
              <ul>
                <li>
                  <p><strong>Penyedia</strong>Pihak penyedia adalah Penyedia layanan atau Systema.</p>
                </li>
                <li>
                  <p><strong>Pengguna</strong>Pihak pengguna adalah Pengguna/Client/User yang menggunakan layanan atau produk yang disediakan oleh Sytema.</p>
                </li>
                <li>
                  <p><strong>Data</strong>Pihak ketiga adalah Orang Perorangan/Instansi/Lembaga/Badan yang dilibatkan kedalam proyek sesuai dengan ketentuan.</p>
                </li>
              </ul>
              <h3 id="5-copyright-infringement-and-dmca-policy">4. Kontrak Pekerjaan/Proyek</h3>
              <p>Kontrak baru dibuat untuk setiap proyek untuk menyesuaikan kebutuhan dan kelancaran proyek sesuai dengan kesepakatan klien. Durasi, pembatalan, dan perpanjangan hanya dapat dilakukan dengan persetujuan kedua belah pihak, didukung oleh dokumen atau berita acara yang dikeluarkan oleh Systema.id.</p>
              <h3 id="6-intellectual-property">5. Pembayaran atau Transaksi</h3>
              <p>Seluruh pembayaran atau transaksi dilakukan melalui transfer melalui bank dalam negeri. Harga dan diskon disesuaikan dengan kesepakatan bersama. Untuk transaksi diluar itu, harus disepakati oleh Penyedia dan Pengguna didukung dengan dokumen atau berita acara sebagai persetujuan yang sah kedua belah pihak</p>
              <h3 id="7-changes">6. Komplain atau Penggantian</h3>
              <p>Komplain atau penggantian dapat dilakukan dengan mengikuti prosedur yang disertakan di awal kontrak setiap proyek. Dokumen komplain membantu pelanggan untuk mendapatkan garansi yang telah disepakati.</p>
              <h3 id="8-disclaimer-of-warranties">7. Privasi dan Keamanan</h3>
              <p>Data pelanggan disimpan dengan ketat di server Systema.id untuk keperluan analisis proyek, administrasi, dan pembuatan dokumen. Penyedia wajib menjaga kerahasiaan data dijaga dengan cermat. Pengguna harus mengikuti aturan dan ikut membantu dalam menjaga privasi data. Pelanggan dilarang memberikan data palsu. Jika Orang/Instansi/Lembaga/Badan yang mencoba melakukan penyerangan terkait data privasi atau melakukan pelanggaran akan dilaporkan sesuai dengan UU yang berlaku (UU ITE), dan harus menanggung ganti rugi yang ditimbulkan.</p>
              <h3 id="9-license">8. Kontak</h3>
              <p>Untuk pertanyaan atau konfirmasi, silakan hubungi kami di +6283837358230 atau melalui email cs@systema.id . Penyedia (Sekawan Systema Group) berhak untuk melakukan perubahan pada ketentuan dan kondisi, dan pemberitahuan akan disampaikan kepada pelanggan melalui email atau kontak yang dapat dihubungi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="./dist/js/tabler.min.js?1684106062" defer></script>
    <script src="./dist/js/demo.min.js?1684106062" defer></script>
  </body>
</html>